@import "https://fonts.googleapis.com/css?family=Noto+Sans";


.floating-chat {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: darkgreen;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 54px;
  height: 50px;
  transform: translateY(70px);
  transition: all 250ms ease-out;
  border-radius: 50%;
  opacity:1;
  background: #fff;

  background-attachment: fixed;
}
.floating-chat.enter:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  opacity: 1;
}
.floating-chat.enter {
  transform: translateY(0);
  opacity: 1;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.14);
}

.floating-chat :focus {
  outline: 0;

}
.floating-chat button {
  background: transparent;
  border: 0;
 color: white;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
}
.floating-chat .chat {
  display: flex;
  flex-direction: column;
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  transition: all 250ms ease-out;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.floating-chat .chat.enter {
  opacity: 1;
  border-radius: 0;
  margin: 10px;
  width: auto;
  height: auto;
}
.floating-chat .chat .header1 {
  flex-shrink: 0;
  padding-bottom: 10px;
  display: flex;
  background: transparent;
}
.floating-chat .chat .header1 .title {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0 5px;
}
.floating-chat .chat .header1 button {
  flex-shrink: 0;
}
.floating-chat .chat .messages {
  padding: 10px;
  margin: 0;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-grow: 1;
  border-radius: 4px;
  background: transparent;
}
.floating-chat .chat .messages::-webkit-scrollbar {
  width: 5px;
}
.floating-chat .chat .messages::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: rgba(25, 147, 147, 0.1);
}
.floating-chat .chat .messages::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(25, 147, 147, 0.2);
}
.floating-chat .chat .messages li {
  position: relative;
  clear: both;
  display: inline-block;
  padding: 14px;
  margin: 0 0 20px 0;
  font: 12px/16px 'Noto Sans', sans-serif;
  border-radius: 10px;
  background-color:rgb(76, 169, 80);
  word-wrap: break-word;
  max-width: 81%;
}
.floating-chat .chat .messages li:before {
  position: absolute;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  content: '';
  background-size: cover;
}
.floating-chat .chat .messages li:after {
  position: absolute;
  top: 10px;
  content: '';
  width: 0;
  height: 0;
  border-top: 10px solid rgb(76, 169, 80);
}
.floating-chat .chat .messages li.other {
  animation: show-chat-odd 0.15s 1 ease-in;
  -moz-animation: show-chat-odd 0.15s 1 ease-in;
  -webkit-animation: show-chat-odd 0.15s 1 ease-in;
  float: right;
  margin-right: 45px;
  color: floralwhite;
}
.floating-chat .chat .messages li.other:before {
  right: -45px;
  background-image: url(https://github.com/Thatkookooguy.png);
}
.floating-chat .chat .messages li.other:after {
  border-right: 10px solid transparent;
  right: -10px;
}
.floating-chat .chat .messages li.self {
  animation: show-chat-even 0.15s 1 ease-in;
  -moz-animation: show-chat-even 0.15s 1 ease-in;
  -webkit-animation: show-chat-even 0.15s 1 ease-in;
  float: left;
  margin-left: 45px;
  color: floralwhite;
}
.floating-chat .chat .messages li.self:before {
  left: -45px;
  background-image: url(https://github.com/ortichon.png);
}
.floating-chat .chat .messages li.self:after {
  border-left: 10px solid transparent;
  left: -10px;
}
.floating-chat .chat .footer1 {
  flex-shrink: 0;
  display: flex;
  padding-top: 10px;
  max-height: 90px;
  background: transparent;
}
.floating-chat .chat .footer1 .text-box1 {
  border-radius: 3px;

  min-height: 100%;
  width: 100%;
  margin-right: 5px;
  color: #0EC879;
  overflow-y: auto;
  padding: 2px 5px;
}
.floating-chat .chat .footer1 .text-box1::-webkit-scrollbar {
  width: 5px;
}
.floating-chat .chat .footer1 .text-box1::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: rgba(25, 147, 147, 0.1);
}
.floating-chat .chat .footer1 .text-box1::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(25, 147, 147, 0.2);
}

@keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }
  100% {
    margin-left: 0;
  }
}
@-moz-keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }
  100% {
    margin-left: 0;
  }
}
@-webkit-keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }
  100% {
    margin-right: 0;
  }
}
@-moz-keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }
  100% {
    margin-right: 0;
  }
}
@-webkit-keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }
  100% {
    margin-right: 0;
  }
}
#overlay {

  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.get-in-touch{
  height: 100%;
}

#form-box{
   height: 709px !important;
}

@media (min-width: 1170px) {
  .img3 {
    width: 81%;
    margin-left: auto;
  }
}

@media (min-width: 991px) {
  #footer-area {
    padding-top: 25em;
  }

  .dropdown-menu {
    width: 300px;
  }

}

@media (max-width: 990px) {
  .btn1 {
    margin-bottom: 26px;
  }

  .img1 {
    padding-top: 45px;
  }
}

@media (max-width: 766px) {
  #footer-area {
    padding-top: 1em;
  }

  .text1 {
    padding-top: 30px;
    font-size: 48px;
  }

  .btn2 {
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-collapse {
    margin-top: 20px;
  }

  .aref {
    text-align: center;
    padding-left: 0px;
  }

}

@media (min-width: 768px) {
  .aref {
    text-align: left;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

}

@media (max-width: 546px) {
  .img-stack {
    min-height: 446px;
  }
}

@media (max-width: 482px) {
  .img2 {
    padding-top: 140px;
  }
}

@media (min-width: 482px) and (max-width: 610px) {

  .img2 {
    padding-top: 100px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  #footer-area {
    padding-top: 14em;
  }

  .dropdown-menu {
    width: 190px;
  }
}

@media (max-height: 640px) {
  .floating-chat.expand {
    width: 272px;
    max-height: 550px;
    height: 458px;
    border-radius: 5px;
    cursor: auto;
    opacity: 1;
  }

  .chatb1 {
    font-size: 32px;
  }

  .chatb2 {
    width: 43px;
  }

  .chatb3 {
    margin-left: 108px;
    margin-top: -71px;
    width: 43px;
  }

  .chatb4 {
    margin-left: 180px;
    margin-top: -72px;
    width: 43px;
  }

  .nchat1 {
    margin-left: 34px;
    margin-top: -11px;
  }

  .nchat2 {

    margin-left: 111px;
    margin-top: -11px;
  }

  .nchat3 {
    margin-left: 183px;
    margin-top: -11px;
  }
}

@media (min-height: 641px) {
  .floating-chat.expand {
    width: 375px;
    max-height: 550px;
    height: 530px;
    border-radius: 5px;
    cursor: auto;
    opacity: 1;
  }

  .chatb1 {
    font-size: 40px;
  }

  .chatb2 {
    width: 59px;
  }

  .chatb3 {
    margin-left: 148px;
    margin-top: -88px;
    width: 59px;
  }

  .chatb4 {
    margin-left: 260px;
    margin-top: -88px;
    width: 59px;
  }

  .nchat1 {
    margin-left: 42px;
    margin-top: -11px;
  }

  .nchat2 {
    margin-left: 158px;
    margin-top: -11px;
  }

  .nchat3 {
    margin-left: 270px;
    margin-top: -11px;
  }
}

.hide_message {
  display: none;
}

#email-message {
  color: red;
}
