<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126890331-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  //gtag('config', 'UA-126890331-1');
  gtag('config', 'AW-773411882');
</script>

<div class="floating-chat" id="overlay">

    <i class="fa fa-comments" aria-hidden="true" style="
    font-size: 30px;
"></i>
    <div class="chat">
        <div class="header1" style="background-color: #4ca950;margin-top: -10px;margin-left: -10px;
    margin-right: -10px; ">
            <span class="title" style="color: #fff;height: 205px;
    padding-top: 7px;
    padding-left: 14px;">
                <p class="chatb1" style="margin-top: 22px; margin-bottom: -16px;
     margin-left: 26px; color: white">Goodbits</p>
                <br>
                <p style="margin-bottom: -40px;
    margin-left: 32px; color: white">Let's Talk Some Business</p>
                <br><br><br>

                <!--first image-->
                <div class="intercom-avatar">
                    <img src="img/clients/client-1.jpg" alt="" class="img-responsive img-circle center-block chatb2" style="

    margin-left: 32px;
"></div><br>
                <div class="intercom-team-profile-full-admin-name nchat1">Arjun</div>

                <!--second image-->

                  <div class="intercom-avatar">
                      <img src="img/clients/client-1.jpg" alt="" class="img-responsive img-circle center-block chatb3"></div><br>
                <div class="intercom-team-profile-full-admin-name nchat2">Maneesh</div>

                <!--third image-->
                <div class="intercom-avatar">
                    <img src="img/clients/client-1.jpg" alt="" class="img-responsive img-circle center-block chatb4"></div><br>
                <div class="intercom-team-profile-full-admin-name nchat3">Bolek</div>

            </span>
            <button style="height: 0px;padding-top: 7px;padding-right: 11px;">
                <i class="fa fa-times" aria-hidden="true" style="    width: 23px;
    height: 20px;"></i>
            </button>

        </div>

        <ul class="messages">

        </ul>
        <div class="footer1">
<!--            <input type="text" placeholder="send"  class="text-box1" contenteditable="true" disabled="true">-->
            <div class="text-box1" contenteditable="true" data-text="Send a message" disabled="true" style="background-color: #fff;
    border-top: 2px solid #d7d7d7;
    color: #757575;

    height: 50px;
    padding-top: 13px;     margin-left: -10px;
    padding-left: 10px;"></div>
            <button id="sendMessage" class="fa fa-paper-plane" style="    padding-right: 17px;
    color: #4ca950;
    font-size: 30px;
    border-top: 2px solid #d7d7d7;
    margin-left: -9px;
    margin-right: -10px; "></button>
            </div>
    </div>

</div>