html, body {
    overflow-x: hidden
}

body {
    overflow: hidden !important;
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 1000px) {
    .section-heading{
        text-align: center;
    }
    .caption-small{
        text-align: center;
    }
    .text-box{
        width: 100%;
        margin: 0;
    }
    .listen-button{
        align-items: center;
        text-align: center;
    }
    button.animated-button.thar-three , a.animated-button.thar-three {
        display: block;
        position: absolute;

    }
    .main-heading{
        font-size: 44px;
    }
    .arrow{
        display: none;
    }
}
@media only screen and (max-width: 760px) {

}