@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold-webfont.woff2') format('woff2'),
    url('../fonts/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light-webfont.woff2') format('woff2'),
    url('../fonts/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
    url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
    url('../fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
    url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*.goodbits-body{
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: latoregular;
    min-height: 1000px;
}*/
.main-background{
    min-height: 100vh;
    background-image: url("../images/main-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    background-size: cover;

}
.muberz-background{
    min-height: 100vh;
    background-image: url("../images/case-study/muberz-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    background-size: cover;

}
.has-navbar{
    padding-top: 100px;
}
.white{
    color: white;
}
.goodbits-green{
    color: #4ca950
}
.main-heading{
    font-family: latoregular;
    font-size: 83px;
    font-weight: 600;
    text-shadow: 5px 5px 45px rgba(0, 0, 0, 0.41);
    /*transition: all 1000ms ease-in-out;*/
}
/*.main-heading:hover{
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.31);
    letter-spacing: 1px;
}*/

.spacer{
    padding: 10px;
    clear: both;
}


/*Parallax*/
.parallax {
    height: 500px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
}

.parallax__group {
    position: relative;
    height: 500px;
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
}

.parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
}

.parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
}

.parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
}

.arrows-container{
    float: left;
    margin: 50px 20px 20px 20px;
    width: 100%;
    height: 80vh;
    position: relative;
    z-index: 0;
    clear: none;
}
.arrow{
    float: left;
    z-index: 0;
}
.arrow1{
    position: absolute;
    left: 30%;
    top: 10%;
}
.arrow3{
    transform: rotate(180deg);
    position: absolute;
    left: 15%;
    bottom: 20%;
}
.arrow2{
    transform: rotate(90deg);
    position: absolute;
    left: 50%;
    top: 50%;
}

.arrow4{
    transform: rotate(270deg);
    position: absolute;
    right: 17%;
    top: 40%;
}

/*parallax*/


/*.t {
    opacity: 1;
}
.ms200{
    transition: all 200ms ease-in-out;
}
.ms300{
    transition: all 300ms ease-in-out;
}
.ms400{
    transition: all 400ms ease-in-out;
}
.ms500{
    transition: all 500ms ease-in-out;
}
.ms600{
    transition: all 600ms ease-in-out;
}
.ms700{
    transition: all 700ms ease-in-out;
}
.ms800{
    transition: all 800ms ease-in-out;
}
.ms900{
    transition: all 900ms ease-in-out;
}
.oneSec{
    transition: all 1000ms ease-in-out;
}
.ms1100{
    transition: all 1100ms ease-in-out;
}
.twoSec{
    transition: all 2000ms ease-in-out;
}
.threeSec{
    transition: all 3000ms ease-in-out;
}
.fourSec{
    transition: all 4000ms ease-in-out;
}
.fiveSec{
    transition: all 5000ms ease-in-out;
}
.fromTop{
    transform: translateY(-50px) translateX(0) scale(1.05) translate3d(0, 0, 0);
}
.fromBottom{
    transform: translateY(50px) translateX(0) scale(1.05) translate3d(0, 0, 0);
}
.fromRight{
    transform: translateY(0) translateX(75px) scale(1.05) translate3d(0, 0, 0);
}
.fromLeft{
    transform: translateY(0) translateX(-75px) scale(1.05) translate3d(0, 0, 0);
}
.fromBottom2{
    transform: translateY(400px) translateX(0) scale(1.05) translate3d(0, 0, 0);
}*/
.show-block {
    opacity: 1;
    transform: translateY(0) translateX(0) scale(1) translate3d(0, 0, 0);
}





/*.navbar-default {
     background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(248, 248, 248, 0) 100%);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(248, 248, 248, 0) 100%);
     background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(255, 255, 255, 0)),to(rgba(248, 248, 248, 0)));
     background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(248, 248, 248, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
     background-repeat: repeat-x;
     border-radius: 4px;
     -webkit-box-shadow: inset 0 1px 0 rgba(0, 124, 255, 0), 0 1px 5px rgba(0, 0, 0, 0);
     box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0), 0 1px 5px rgba(0, 0, 0, 0);
}*/

.background-green{
    background-color: #4ca950;
}
.background-grey{
    background-color: #f8f8f8;
}
.background-blue{
    background-color: #017ec6;
}

.section2{
    position: relative;
    min-height: 600px;
}
.section3 {
    min-height: 407px;
}
.section4{
    min-height: 600px;
}
.section5{
    min-height: 446px;
    background-image: url("../images/background2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    background-size: cover;
}
.section6{
    min-height: 233px;
    background-color: #4ca950;
}
.section7{
    height: 420px;
    /*background-image: url("../images/11-layers.png");
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    background-size: cover;*/
}

.section-heading{
    font-family: latobold;
    font-size: 58px;
    font-weight: 600;
}

.img-stack{
    min-height: 550px;
    float: left;
    position: relative;
}
.img-one,.img-two{
    position: absolute;
    float: left;
    bottom: 0;
}
.img-one{
    left: 0;
    bottom: 5px;
}
.img-two{
    left: 130px;
}
.hover-move-left:hover{
    transition: all 250ms ease-in-out;
    transform: translateX(-40px);
}
.hover-move-right:hover{
    transition: all 250ms ease-in-out;
    transform: translateX(50px);
}
.form-control{
    webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.0);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    width: 300px;
    border:none;
    border-bottom: 1px solid grey;
}
.form-control:focus {
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(102, 175, 233, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(102, 175, 233, 0);
    border-bottom: 1px solid black;
}


.btn {
    width: 300px;
    display: inline-block;
    margin: 1em 0;
    text-transform: capitalize;
    padding: 1em 1.5em;
    background: transparent;
    color:white;
    font-weight: bold;
    position: relative;
    transition:color 0.5s ease;
    border:3px solid white;
}
.btn:hover {
    color:black;
    background-color: white;
}
/*.btn::after {
    position: absolute;
    content: '';
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    color: black;
    background-color: white;
    transform-origin:left;
    transition:width 0.5s ease;
    z-index:-1;
}*/
/*.btn:hover::after {
    width: 100% !important;
}*/

.btn-green:hover{
    color: #4ca950 !important;
}


.btn-white:hover{
    color: white;
}
.btn-white::after {
    position: absolute;
    content: '';
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: green;
    transform-origin:left;
    transition:width 0.5s ease;
    z-index:-1;
}

.form-container{
    padding: 20px 0;
    clear: both;
}
.text-box{
    width: 330px;
    font-size: 15px;
}
/*.text-box:hover{*/
    /*width: 350px;*/
    /*font-size: 16px;*/
/*}*/

.linkedin-color{
    color: #007bb6;
}
.w-heading{
    font-family: latobold;
    font-size: 46px;
    font-weight: 600;
}
.niche-width{
    max-width: 700px;
}
.btn-white{
    background-color: white;
    color: #4ca950;
}

.goodbits-footer{
    min-height: 190px;
    background-color: black;
}
.footer-img{
    width: 200px;
}
.pading-lr-25{
    padding: 0 10px ;
}
.grey{
    color: #9d9d9d;
}
.footer-icons{
    font-size: 20px;
}
.arrow{
    float: left;
    z-index: 0;
}
.arrow1{
    position: absolute;
    left: 30%;
    top: 10%;
}
.arrow3{
    transform: rotate(180deg);
    position: absolute;
    left: 15%;
    bottom: 20%;
}
.arrow2{
    transform: rotate(90deg);
    position: absolute;
    left: 50%;
    top: 50%;
}

.arrow4{
    transform: rotate(270deg);
    position: absolute;
    right: 17%;
    top: 40%;
}
.vertical-center{
    display: flex;
    align-items: center;
}
.background-muberz-grey{
    background-color: #f2f2f2;
}
.muberz-section-heading{
    font-size: 45px;
}
.muberz-caption{
    font-size: 15px;
}
.case-study-pointer-container{
    width: 40px;
    float: left;
}
.casestudy-list-heading{
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 20px;
}
.case-study-list-points{
    float: left;
    width: 80%;
    margin-left: 10px;
}
.case-study-pointer-container2{
    width: 40px;
    padding-right: 10px;
    margin-right: 10px;
    float: left;
}
.small-bold-heading{
    margin-top: 15px;
    font-size: 27px;
    font-weight: 700;
}
.margin-left-50{
    margin-left: 50px;
}
.mubers-background{
    background-image: url("../images/case-study/muberz-truck.png");
    background-repeat: no-repeat;
    background-position: center;
}
.circle-mask{
    margin-top: -80px;
}
.muberz-section-heading-2{
    font-size: 30px;
    font-weight: 800;
}
.gray-light{
    color: #939393;
}
.muberz-design-way-container{
    width: 100%;
    height: 300px;

}
.muberz-design-way{
    min-height: 265px;
}
.checkpoint-container{
    width: calc(100% / 6);
    height: 306px;
    float: left;
    position: relative;
}
.checkpoint-rectangle{
    width: 100%;
    height: 80px;
    border-radius: 10px;
    border: 0.5px solid rgba(198, 198, 198, 0.5);
}
.position-bottom{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.ring-container {

}
.green-circle{
    color: #4ca950;
    background-color: #4ca950;
    border-color: #4ca950;
}
.grey-circle{
    color: #cccccc;
    background-color: #cccccc;
    border-color: #cccccc;
}
.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
}

.ringring {
    border: 3px solid;
    -webkit-border-radius: 30px;
    height: 25px;
    width: 25px;
    position: absolute;
    left: 15px;
    top: 15px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}
.achive-heading{
    font-size: 20px;
}
.achive-caption{
    font-size: 13px;
}
.triangle-holder{
    height: 15px;
    width: 100%;
    margin-top: -7px;
}
.grey-fill{
    fill: #c6c6c6;
}
.green-fill{
    fill: #4ca950 !important;
}
.border-green{
    border-color: #4ca950 !important;
}
.background-orange{
    background-color: #ffb840;
}
.carousel-control.left, .carousel-control.right {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0, 0, 0, 0)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0,rgba(0,0,0,.0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}
.min-height-100{
    min-height: 100vh;
}
.caption-main{
    font-size: 28px;
    font-weight: 300;
}
.border-left-top-right{
    width: 50%;
    border-left: 1px lightgrey dashed;
    border-top: 1px lightgrey dashed;
    border-right: 1px lightgrey dashed;
    height: 150px;
    float: left;
}
.border-top-right{
    width: 50%;
    border-top: 1px lightgrey dashed;
    border-right: 1px lightgrey dashed;
    height: 150px;
    float: left;
}
.light-dots{
    width: 66.66%;
}
.how-it-works{
    background-color: white;
    width: 100%;
    min-height: 275px;
    padding: 20px 30px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    position: relative;
}
.how-it-works .heading{
    font-size: 19px;
    font-weight: 800;
}
.how-it-works .content{
    font-size: 13px;
}
.margin-top-100{
    margin-top: -125px;
}
.box-shadow{
    -webkit-box-shadow: 3px 10px 27px 2px rgba(196,196,196,1);
    -moz-box-shadow: 3px 10px 27px 2px rgba(196,196,196,1);
    box-shadow: 3px 10px 27px 2px rgba(196,196,196,1);
}
.services{
    padding: 20px 2vw;
}
.services .img-container{
    min-height: 130px;
    padding: 20px 0;
}
.services .heading{
    font-size: 21px;
    font-weight: 800;
}
.services .content{
    line-height: 30px;
    font-size: 18px;
    color: #939393;
}
.carousel-control .arrow-left{
    margin-top: calc(200%/2);
}

.ring-circle{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    /*margin-top: -7px;*/
}
.ring-ripple{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0
}
.to-top{
    margin-top: -16px;
    margin-left: 0.5px;
}
.padding-cicle{
    padding: 13.5px;
}
.grey-circle:hover{
    color: #4ca950;
    background-color: #4ca950;
    border-color: #4ca950;
}
.way{
    border:1px dashed lightgrey;
    margin-top: -97px;
}
/*.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
    background-image: -webkit-linear-gradient(top, rgba(219, 219, 219, 0) 0, rgba(226, 226, 226, 0) 100%);
    background-image: -o-linear-gradient(top, rgba(219, 219, 219, 0) 0, rgba(226, 226, 226, 0) 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(219, 219, 219, 0)),to(rgba(226, 226, 226, 0)));
    background-image: linear-gradient(to bottom, rgba(219, 219, 219, 0) 0, rgba(226, 226, 226, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffe2e2e2', GradientType=0);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0);
    box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0);
}
.navbar-brand, .navbar-nav>li>a {
    text-shadow: 0 1px 0 rgba(255,255,255,.25);
}*/
.bloom-background{
    background-color: #141631;
    min-height: 100vh;
}
.background-pink{
    background-color: #d91388;
}
.bloom-caption{
    color: #ec008c;
}
.background-blom-grey{
    background-image: url("../images/case-study/bloom-phone-2.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.background-darkblue{
    background-color: #141631;
    background-image: url("../images/case-study/bloom-background-darkblue.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.qaqc-main-background{
    min-height: 100vh;
    background-color: #f9b041;
    background-image: url("../images/case-study/qaqc-main-background.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.cake-main-background{
    min-height: 100vh;
    background-color: #a13286;
    background-image: url("../images/case-study/cake-main-background.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.background-red{
    background-color: #f54457;
}
.background-rose{
    background-color: #e7016e;
}

.background-darkblue-color{
    background-color: #141631;
}
.slider-img{
    height: 420px;
}

button.animated-button.thar-three , a.animated-button.thar-three {
    cursor: pointer;
    display: block;
    position: relative;
    border: 2px solid #FFFFFF;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}
button.animated-button.thar-three:hover , a.animated-button.thar-three:hover {
    background-color: transparent;
    color: #4ca950;
}
button.animated-button.thar-three:hover:before, a.animated-button.thar-three:hover:before{
    left: 0%;
    right: auto;
    width: 100%;
}
button.animated-button.thar-three:before, a.animated-button.thar-three:before{
    display: block;
    position: absolute;
    color: #4ca950 !important;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    content: '';
    background: #FFFFFF;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}



button.animated-button.green-btn {
    background-color: #4ca950;
    cursor: pointer;
    display: block;
    position: relative;
    border: 2px solid #4ca950;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}
button.animated-button.green-btn:hover {
    background-color: white;
    color: #4ca950 !important;
}
button.animated-button.green-btn:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
}
button.animated-button.green-btn:before {
    display: block;
    position: absolute;
    color: #4ca950 !important;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    content: '';
    background: #FFFFFF;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}
.circle-mask:hover{
    transition: all 250ms ease-in-out;
    margin-top: -40px;
}
.flag-container-top{
    margin-bottom: -10px;
    visibility: hidden;
}
.flag-container-bottom{
    margin-top: -10px;
    visibility: hidden;
}
.solution-pading{
    padding: 20px 0;
}
.map-btn{
    position: relative;
}
.listen-button{
    text-align: left;
}
/*
.style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.style-3::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

.style-3::-webkit-scrollbar-thumb {
    color: #007673 !important
}
*/
